.background-color-green{
  background: green;
  color: white;
}
.background-color-red{
  background: indianred;
  color: white;
}
.background-color-yellow{
  background: yellow;
}

.uk-button-secondary{
  background: green;
}

